<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="xarm_1s">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import xarm_1s urdf file -->
    <xacro:include filename="$(find xarm_1s_description)/urdf/xarm_1s.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="xarm_1s.ros2_control.xacro" />


    <xacro:xarm_1s_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
